#blog-heading img{
    width: 20px;
}

#post-wrapper{
    margin: 0 auto;
    width: 90vw;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-height: 100px;
    border: 2px solid cornflowerblue;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(203, 222, 255);
}